.navbar {color: #95df94;
    
  }

  
h1  {
    color: #95df94; 
    /* border-bottom: black; */
}

h2{
    color: #95df94;
}


.navbar navbar-expand-lg navbar-light bg-light {
background-color: #95df94;
}

aside{
    size-adjust: 5cm;
    inline-size: auto;
}