.navbar {color: #95df94;
    
  }

  
h1  {
    color: #95df94; 
    /* border-bottom: black; */
}

h2{
    color: #95df94;
}

p {
    padding: 20px;
    font-size: 16pt;
    

.navbar navbar-expand-lg navbar-light bg-light {
background-color: #95df94;
}


.img-thumbnail{
    height: 140px;
    width: 140px;
    float: left;
    
}

/* .img {
    height: fit-content;
    width: fit-content;
    float: left;   
} */